<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- "node_modules/jquery/dist/jquery.min.js",
  "node_modules/popper.js/dist/umd/popper.min.js",
  "node_modules/bootstrap/dist/js/bootstrap.min.js", Posibles rutas de boostrap para mas adelante-->
</head>
<body>
  <div class=".container">
    <div class="row">
      <div class="col-xs-2">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class=" dropdown">
              <i class="bi bi-grid-fill fs-3"></i><span class="fs-3 ms-2 d-none d-sm-inline">Acceso x plus</span>
          </div>
          <div class="col">
            <div class="d-flex justify-content-end align-items-center ">
              <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle fs-3 ms-2 d-none d-sm-inline" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="bi bi-person-circle"></i><span class="fs-3 ms-2 d-none d-sm-inline">Administrador</span>
                </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                  </div>
                  <img src="frontend-plus/src/img/logo2.png" alt="mdo" width="32" height="32" class="rounded-circle ">
              </div>
          </div> 
        </nav>
      </div>
    </div>
   
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-xs-2 col-sm-3 col-md-4 col-lg-4">
        <ul class="nav nav-pills flex-column mt-2">
          <li class="nav-item py-2 py-sm-0">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Inicio</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-person-fill-gear"></i><span class="fs-4 ms-3 d-none d-sm-inline">Cargo</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-person-vcard-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Carnet</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-x-diamond-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Elementos</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-calendar2-event"></i><span class="fs-4 ms-3 d-none d-sm-inline">Eventos</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="#" class="nav-link text-dark" aria-current="page">
              <i class="bi bi-clipboard2-data"></i><span class="fs-4 ms-3 d-none d-sm-inline">Reporte</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>

  <div class="container-fluid">
    <footer class="bg-dark text-center text-white">
      <div class="container p-3">
        <div class="row">
          <div class="col ">
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i ></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="bi bi-twitter"></i></a>
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="bi bi-globe"></i></a>
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="bi bi-instagram"></i></a>
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
          </div>
        </div> 
      </div>
    </footer>
  </div>
</body>
</html>

