    <div class="container-fluid">
        <footer class="bg-dark text-center text-white fixed-bottom">
          <div class="container p-3">
            <div class="row">
              <div class="col ">
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i ></i
                ></a>
    
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="bi bi-twitter"></i></a>
          
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="bi bi-globe"></i></a>
          
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="bi bi-instagram"></i></a>
                <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2020 Copyright:
                  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
              </div>
            </div> 
          </div>
        </footer>
    </div>